@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'roboto';
    src: url('arquivos/fonts/Roboto-Medium.ttf') format('truetype');
    font: normal normal;
}

body {
    background-image: linear-gradient(to right, rgb(175, 175, 175), rgb(190, 190, 190), rgb(216, 216, 216), rgb(244, 243, 243));
    color: black;
    font: italic 16px 'roboto', Helvetica, sans-serif;
}

mark {
    background-color: cadetblue;
}

.centro {
    text-align: center;
}

.esquerda {
    text-align: left;
}

.direita {
    text-align: right;
}

.justificado {
    text-align: justify;
}

.fontegf  {
    font-family: "Cinzel Decorative", serif;
}

.class {
    background-image: linear-gradient(to right, rgb(75, 75, 244), rgb(126, 126, 252), rgb(169, 169, 251));
    color: black;
    font: italic 16px 'roboto', Helvetica, sans-serif;
}

#id {
    background-color: aqua;
    color: black;
    font: bold 20px 'roboto', Helvetica, sans-serif;
}
